html,
body {
  height: 100%;
  width: 100%;
}

.card-body
{
  width: 80%;
}

.card-body
{
  margin-left: auto;
  margin-right: auto;
}

.card
{
  border-width:2px;
  border-radius: 10px;

}

.old-container
{
  width: 40%;

}

.my-container
{
  align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;

}
.button-div
{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 15px;
}
.myButton {
	background-color:#9cacea;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:10px 100px;
	text-decoration:none;
}
.myButton:hover {
	/* add what you want */
}
.myButton:active {
/* add what you want */
}
