html,
body {
  height: 100%;
  width: 100%;

  background-image: url("D:/Karim project/Karim project assets/Forget Password 1/undraw_a_moment_to_relax_bbpa-1.png");
  background-repeat: no-repeat;
  background-size: 60%  ;
  background-position: center;

  }


.content
{
  text-align: center;
}

.container
{
  align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}


.welcome-img
{
  margin-bottom: 40px;
  width: 45%;
  }

  .myButton {
  	background-color:#9cacea;
  	-moz-border-radius:28px;
  	-webkit-border-radius:28px;
  	border-radius:28px;
  	border:1px solid #9cacea;
  	display:inline-block;
  	cursor:pointer;
  	color:#ffffff;
  	font-family:Arial;
  	font-size:17px;
  	padding:12px 85px;
  	text-decoration:none;
  }
  .myButton:hover {
/* add what you want */
  }
  .myButton:active {
/* add what you want */  }

span
{
  font-weight: bold;
}

h4
{
  margin-bottom:30px;
}

.my-email-input
{
  margin-bottom: 30px;
}
