.container
{
  text-align: center;
}

img
{
  margin-top: 125px;
  margin-bottom: 50px;
}

h4
{
  margin-bottom: 30px;
}

.myButton {
	background-color:#9cacea;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #9cacea;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:10px 70px;
	text-decoration:none;
}
.myButton:hover {
	/* add what you want */
}
.myButton:active {
	/* add what you want */
}
